html, body, #map {
    height: 100%;
    width: 100%;
    margin: 20;
    padding: 10;
    background-color: #ffffff;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}
